[Unit]
Description=k3s (TOT Kubernetes lab)
After=glnet.service network.target
Wants=network.target
[Service]
ExecStart=/usr/local/bin/k8s-start
Restart=on-failure
KillMode=process
LimitNOFILE=1048576
TasksMax=infinity
[Install]
WantedBy=multi-user.target
